/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html {
    scroll-behavior: smooth;
  }

  h1,h2,h3,h4,h5{
    font-family: 'SF Pro Display Bold'!important;
    font-weight: normal!important;
  }
  
  strong{
    font-family: 'SF Pro Display Bold'!important;
    font-weight: normal!important; 
  }
  
  p{
    font-family: 'SF Pro Display Regular'!important;
    font-weight: normal!important;
    font-size: 18px;
  }
  
  a{
    font-family: 'SF Pro Display Regular'!important;
    font-weight: normal!important;
  }

h1{
    font-size: 50px!important;
}

p{
    color: #202020!important;
}

.text-justify{
  text-align: justify; 
  text-justify: inter-word;
}

.sfpro-medium{
  font-family: 'SF Pro Display Medium'!important
}

ion-grid ul li,input,label,.form-text{
  font-family: 'SF Pro Display Regular'!important;
    font-weight: normal!important;
}

.text-dark{
    color: #202020!important;
}
.bg-blur{
    /* background-color: rgba(255, 255, 255, 0.815); */
    backdrop-filter: blur(30px);
}

.bg-red{
    background-color: #ED3F5C;
}

.btn{
    box-shadow: 0px 0px 10px #0045BF1A!important;
}

.currentScroll{
  color: rgb(255, 255, 255) !important;
  background-color: #ed3f5c!important;
}