.nav-link{
  padding: 10px 35px!important;
  border-radius: 30px;
  color: #ED3F5C!important;
}

.nav-item {
  margin: 0px 10px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255)!important;
  background-color: #ED3F5C;
}


/* .active{
  color: rgb(255, 255, 255)!important;
} */


ul li{
	padding: 3px 0px 3px 30px;
	list-style: none;
}


ul.main-description li:nth-child(1){
  background: url('/assets/images/mark-1.png') no-repeat left center;
}

ul.main-description li:nth-child(2){
  background: url('/assets/images/mark-2.png') no-repeat left center;
}

ul.main-description li:nth-child(3){
  background: url('/assets/images/mark-3.png') no-repeat left center;
}


#btn-scroll {
  display: none;/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  right: 80px;
  bottom: 40px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #E94859; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#btn-scroll:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


@media (min-width: 850px) {

  .benefits-logo {
    max-width: 100%;
  }
}

@media (max-width: 851px) {

  .benefits-logo {
    max-width: none!important;
    
  }
}



