.nav-link {
  padding: 6px 34px !important;
  border-radius: 30px;
  color: #ed3f5c !important;
  font-size: 22px!important;
}

.nav-item {
  margin: 0px 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #ed3f5c;
  cursor: pointer;
}

.antitulo{
  font-size: 20px!important;
}

/* .active{
  color: rgb(255, 255, 255)!important;
} */

ul li {
  padding: 3px 0px 3px 0px;
  list-style: none;
}

ion-grid ul li {
  padding: 3px 0px 3px 30px;
  list-style: none;
}

ul.main-description li:nth-child(1) {
  background: url("/assets/images/mark-1.png") no-repeat left center;
}

ul.main-description li:nth-child(2) {
  background: url("/assets/images/mark-2.png") no-repeat left center;
}

ul.main-description li:nth-child(3) {
  background: url("/assets/images/mark-3.png") no-repeat left center;
}

ul.main-description-2 li:nth-child(1) {
  background: url("/assets/images/mark-4.png") no-repeat left center;
}

ul.main-description-2 li:nth-child(2) {
  background: url("/assets/images/mark-5.png") no-repeat left center;
}

ul.main-description-2 li:nth-child(3) {
  background: url("/assets/images/mark-6.png") no-repeat left center;
}


ul.main-description-3 li:nth-child(1) {
  background: url("/assets/images/marker-1.png") no-repeat left center;
}

ul.main-description-3 li:nth-child(2) {
  background: url("/assets/images/marker-4.png") no-repeat left center;
}

ul.main-description-3 li:nth-child(3) {
  background: url("/assets/images/marker-7.png") no-repeat left center;
}

ul.main-description-3 li:nth-child(4) {
  background: url("/assets/images/marker-10.png") no-repeat left center;
}


ul.main-description-4 li:nth-child(1) {
  background: url("/assets/images/marker-2.png") no-repeat left center;
}

ul.main-description-4 li:nth-child(2) {
  background: url("/assets/images/marker-5.png") no-repeat left center;
}

ul.main-description-4 li:nth-child(3) {
  background: url("/assets/images/marker-8.png") no-repeat left center;
}

ul.main-description-4 li:nth-child(4) {
  background: url("/assets/images/marker-11.png") no-repeat left center;
}


ul.main-description-5 li:nth-child(1) {
  background: url("/assets/images/marker-3.png") no-repeat left center;
}

ul.main-description-5 li:nth-child(2) {
  background: url("/assets/images/marker-6.png") no-repeat left center;
}

ul.main-description-5 li:nth-child(3) {
  background: url("/assets/images/marker-9.png") no-repeat left center;
}




ul.main-description-6 li:nth-child(1) {
  background: url("/assets/images/camp-1.png") no-repeat left center;
}

ul.main-description-6 li:nth-child(2) {
  background: url("/assets/images/camp-2.png") no-repeat left center;
}

ul.main-description-6 li:nth-child(3) {
  background: url("/assets/images/camp-3.png") no-repeat left center;
}

ul.main-description-6 li:nth-child(4) {
  background: url("/assets/images/camp-4.png") no-repeat left center;
}

ul.main-description-6 li:nth-child(5) {
  background: url("/assets/images/camp-5.png") no-repeat left center;
}

ul.main-description-6 li:nth-child(6) {
  background: url("/assets/images/camp-6.png") no-repeat left center;
}


#btn-scroll {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  right: 80px;
  bottom: 40px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ed3f5c; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 35px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border: 2px solid white;
}


.btnScrollEnd{
  bottom: 250px!important;
}



#btn-scroll:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media (min-width: 850px) {
  .benefits-logo {
    max-width: 100%;
  }
}

@media (max-width: 851px) {
  .benefits-logo {
    max-width: none !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1650px) {
  .btn-description {
    padding: 10px 20px !important;
  }
}

@media (min-width: 768px) {
  .unset {
    order: unset !important;
  }
}

@media (prefers-color-scheme: light) {
  ion-grid {
    --background: none;
    background-color: rgb(255, 255, 255);
  }
}

@media (prefers-color-scheme: dark) {
  ion-grid {
    --background: none;
    background-color: rgb(255, 255, 255);
  }
}
