<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)" >


    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-blur" style="border-bottom: 1px solid #80808036;">
      <div class="container-fluid px-2 px-sm-3 px-md-5">
        <a class="navbar-brand"  href="#"><img alt="link"  src="assets/images/clubify.svg" style="height: 40px;"></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="navbarCollapse" >
          <ul class="navbar-nav me-auto mb-2 mb-md-0  w-100 d-flex d-flex justify-content-end" >
            <li class="nav-item" >
              <a id="beneficios-2" class="nav-link active"  (click)="scrollToLabel('beneficios')" ><strong>Loyalty Intelligence</strong> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="servicios-2" (click)="scrollToLabel('servicios')" ><strong>Servicios</strong> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="metricas-2" (click)="scrollToLabel('metricas')" > <strong>Métricas</strong> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="industrias-2" (click)="scrollToLabel('industrias')"> <strong>Industrias</strong> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nosotros-2" (click)="scrollToLabel('nosotros')"><strong>Nosotros</strong> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contactanos-2" (click)="scrollToLabel('contactanos')"><strong>Contáctanos</strong> </a>
            </li>

          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>

    <ion-grid>

      <ion-row class="mt-5 pt-5 d-flex justify-content-between">

        <ion-col [size]="12" [sizeMd]="12" [sizeLg]="10" [sizeXl]="4" class="d-flex align-items-center mx-md-5 mx-0" >

          <div class="mx-md-5 mx-0">
            <h1 style="color: #ED3F5C" class="mb-0"><strong>Inteligencia Artificial</strong> </h1>
            <h1 class="mt-0 text-dark"><strong>aplicada a la lealtad de tus clientes</strong> </h1>
    
            <p >Usamos indicadores y algoritmos para crear un club con un mayor valor, sugiriendo "Cuándo y qué" cambios deben realizarse para crear una experiencia más eficiente y completa.</p>
    
            <ul class="main-description" style="padding-left: 0px!important;">
              <li class="text-dark mark-1">Inteligencia de negocios</li>
              <li class="text-dark mark-2">Diseño centrado en el usuario</li>
              <li class="text-dark mark-3">Gestión y difusión de convenios customizados</li>
            </ul>
    
            <ion-row class="d-flex justify-content-between">

              <ion-col [size]="12" [sizeMd]="8" [sizeLg]="6" [sizeXl]="6" >
                <button type="button" class="btn btn-danger px-5 py-3 mt-3 btn-description" style="border-radius: 30px;" (click)="scrollToLabel('contactanos')"><strong>Contáctanos ahora</strong> </button>
              </ion-col>
              <ion-col [size]="12" [sizeMd]="8" [sizeLg]="6" [sizeXl]="6"  class="text-lg-end  text-start" >
                <button type="button" class="btn btn-light px-5 py-3 mt-3 btn-description" style="border-radius: 30px; border:  1px solid #C1C1C1;"(click)="scrollToLabel('nosotros')" ><strong><p class="mb-0 px-3">Quienes somos</p></strong>  </button>
              </ion-col>

              
      
              
            </ion-row>

          </div>



        </ion-col>
        <ion-col [size]="12" [sizeMd]="12" [sizeLg]="12" [sizeXl]="6.1" class="d-flex align-items-center justify-content-end mt-4 mt-md-0 p-0 ">
          <div class="text-end w-100">

            <img src="assets/images/pc-main-cutted.png" style="max-width: 95%;" alt="" srcset="">
          </div>
        </ion-col>
        
      </ion-row>

      <div id="beneficios" ></div>
      <ion-row class="mt-5 pt-5 ">
        <ion-col [size]="12" class="text-center" >
          <p class="mb-0"><strong class="antitulo">COBERTURA EN TODO CHILE</strong> </p>
          <h1 style="color: #ED3F5C" class="mt-0 mb-0"><strong>Marketplace: Más de 5.000 convenios y  beneficios exclusivos</strong> </h1>

          <ion-row class="d-flex justify-content-center">
            <ion-col [size]="12" [sizeMd]="12" [sizeLg]="8" [sizeXl]="3.5">
              <p>Mes a mes contamos con nuevas marcas, beneficios y propuestas que nos permiten abarcar una gran variedad de público objetivo.</p>
            </ion-col>
          </ion-row>
         

        </ion-col>
      </ion-row>

      <ion-row class="mb-5">
        <ion-col size="12">
          <div style="overflow-x: auto;"><img src="assets/images/beneficios-1.png" alt="" style="width: 1920px!important;" class="benefits-logo"  srcset=""></div>
          
          <div style="overflow-x: auto;" ><img src="assets/images/beneficios-2.png" alt="" style="width: 1920px!important;" class="benefits-logo" srcset=""></div>
          
          <div style="overflow-x: auto;"><img src="assets/images/beneficios-3.png" alt="" style="width: 1920px!important;" class="benefits-logo"  srcset=""></div>
          
        </ion-col>
      </ion-row>
      
      <br>
      <div id="servicios"></div>
      <ion-row class="mt-5 pt-5 ">
        <ion-col [size]="12" class="text-center">
          <p class="mb-0"><strong class="antitulo">CONOCE LA PLATAFORMA</strong> </p>
          <h1 style="color: #ED3F5C" class="mt-0 mb-0"><strong>La gestión de convenios más completa</strong> </h1>

          <ion-row class="d-flex justify-content-center">
            <ion-col [size]="12" [sizeMd]="12" [sizeLg]="8" [sizeXl]="3.5">
              <p>Nuestra Plataforma de Administración se compone de distintos módulos que te permitirán gestionar todas las funcionalidad de tu club de beneficios.</p>
            </ion-col>
          </ion-row>
         

        </ion-col>
      </ion-row>

      <ion-row class=" mb-5 d-flex justify-content-around">

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/gestion de convenios.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/gestion de raclamos.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/chatbot de usuarios.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/registro de usuarios.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/loyalty intelligence tool.png" alt="" srcset="">
        </ion-col>
        <!-- 1er column -->

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/generador de codigos.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/validador de cupones.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/web desktop y mobile.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/APP movil android e IOS.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/web club creator.png" alt="" srcset="">
        </ion-col>

        <!-- 2th column -->

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/gestor integral de campañas.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/blog.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/dashboard de metricas y analiticas.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/hosting.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/módulos de puntos.png" alt="" srcset="">
        </ion-col>
        <!-- 3th column -->

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/módulo categoria de usuarios.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/cliente incognito.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/gestion de co-pagos.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/gestion de sorteos y concursos.png" alt="" srcset="">
        </ion-col>

        <ion-col [size]="12" [sizeSm]="6" [sizeMd]="6" [sizeLg]="4.5" [sizeXl]="2.4" class="text-center">
          <img style="max-width:100%"  src="assets/images/modulo de encuestas NPS.png" alt="" srcset="">
        </ion-col>
      </ion-row>

      <div class="container-fluid">
        <div class="row d-flex justify-content-around">
          <div class="col-xl-6 col-lg-6  ">
            <img src="assets/images/Grupo 1352.png" alt="" srcset="">
          </div>
          <div class="col-xl-5 col-lg-6 unset d-flex align-items-center">
            <div class="mx-md-5 mx-0">
                <p class="mb-0"><strong class="antitulo">CONOCE CLUBIFY</strong> </p>
              <h1 style="color: #ED3F5C" class="my-1"><strong>Somos sinónimo de Loyalty Intelligence</strong> </h1>
              <h2 class="mt-0 text-dark">Envía campañas de marketing directo según las variables de segmentación que elijas.</h2>
              <p >En nuestra plataforma tendrás acceso a:</p>
      
              <ul class="main-description-2" style="padding-left: 0px!important;">
                <li class="text-dark mark-4">El Marketplace de beneficios más grande de Latinoamérica</li>
                <li class="text-dark mark-5">Acceso a métricas de la plataforma, en todo lugar y momento</li>
                <li class="text-dark mark-6">Enviar campañas de marketing directo a clientes según la segmentación de tus clientes.</li>
              </ul>

              <p>Todas tus acciones serán la base de conocimiento para que la plataforma aprenda y te sugiera cómo tomar las mejores decisiones.</p>
      
              <ion-row class="d-flex justify-content-between">

                <ion-col [size]="12" >
                  <button type="button" class="btn btn-danger px-5 py-3 mt-3" style="border-radius: 30px;" (click)="scrollToLabel('contactanos')" ><strong>Contáctanos ahora</strong> </button>
                </ion-col>
                 
              </ion-row>

            </div>
          </div>
        </div>
      </div>

      <ion-row class="mt-5 pt-5 ">
        <ion-col [size]="12" class="text-center">
          <p class="mb-0 "><strong class="antitulo">EL NUEVO VÍNCULO CON TUS CLIENTES</strong> </p>
          <h1 style="color: #ED3F5C" class="mt-0 mb-0"><strong>Una plataforma segura y funcional</strong> </h1>

          <ion-row class="d-flex justify-content-center">
            <ion-col [size]="12" [sizeMd]="12" [sizeLg]="8" [sizeXl]="3.9">
              <p>Establece un lazo comunicacional eficaz y duradero, realizando estrategias de Marketing que refuercen el vínculo cliente-empresa.</p>
            </ion-col>
          </ion-row>
         

        </ion-col>
      </ion-row>
      <div class="text-center mb-5 mb-5 pb-5">
        <img src="assets/images/plataforma-segura.png" alt="" srcset="">
      </div>

      <!-- <ion-row class="mb-5 mb-5 pb-5">
        
        <ion-col size="12">
          <div style="overflow-x: auto;" class="text-center"><img style="max-width:90%" src="assets/images/Grupo 1313.svg" alt="" class="benefits-logo"  srcset=""></div>
          
          <div style="overflow-x: auto;" class="text-center" ><img style="max-width:90%" src="assets/images/Grupo 1312.svg" alt="" class="benefits-logo" srcset=""></div>
          
          <div style="overflow-x: auto;" class="text-center"><img style="max-width:90%" src="assets/images/Grupo 1353.svg" alt="" class="benefits-logo"  srcset=""></div>
          
        </ion-col>
      </ion-row> -->

      <div id="metricas"></div>
      <div class="container-fluid ">
        <div class="row d-flex mb-5 mt-5 justify-content-around">
          <div class="col-xl-5 col-lg-6 unset d-flex align-items-center">
            <div class="mx-md-5 mx-0">
                <p class="mb-0"><strong class="antitulo">TOMA DECISIONES BASADA EN DATOS</strong> </p>
              <h1 style="color: #ED3F5C" class="my-1"><strong>Contamos con un completo Dashboard Online</strong> </h1>
              <h2 class="mt-0 text-dark">Con más de 30 indicadores de gestión, centralizamos todo en un sólo informe fácil de visualizar.</h2>
              <p class="mb-0" >Información registrada en nuestra plataforma:</p>

              <div class="row px-3">

                <ul class="main-description-3 col-sm-4 col-12" style="padding-left: 0px!important;">
                  <li class="text-dark marker-1">Información de visitas al Sitio Web</li>
                  <li class="text-dark marker-4">Descargas de la aplicación móvil</li>
                  <li class="text-dark marker-7">% de engagement por categoría</li>
                  <li class="text-dark marker-10">Evolución de miembros únicos del club</li>
                </ul>

                <ul class="main-description-4 col-sm-4 col-12" style="padding-left: 0px!important;">
                  <li class="text-dark marker-2">Tiempo de permanencia</li>
                  <li class="text-dark marker-5">Visitas desde la aplicación</li>
                  <li class="text-dark marker-8">Ahorro generado total y por convenio.</li>
                  <li class="text-dark marker-11">Mapa de cobertura geográfico por locales adheridos al programa</li>
                </ul>

                <ul class="main-description-5 col-sm-4 col-12" style="padding-left: 0px!important;">
                  <li class="text-dark marker-3">Utilización de beneficios</li>
                  <li class="text-dark marker-6">Cantidad de convenios activos</li>
                  <li class="text-dark marker-9">Top 10 de los convenios con más engagement</li>
                  <li class="text-dark marker-12">Heavy users.</li>
                </ul>

              </div>
      

            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-flex align-items-center ">
            <img src="assets/images/Grupo 1513.png" class="img-fluid" alt="" srcset="">
          </div>
        </div>
      </div>

      <div class="container-fluid ">
        <div class="row mb-5 mt-5 d-flex justify-content-around">

          <div class="col-xl-6 col-lg-5 text-center">
            <img src="assets/images/Grupo 1514.png" style="max-width: 90%;" alt="" srcset="">
          </div>

          <div class="col-xl-5 col-lg-6 unset d-flex align-items-center">
            <div class="mx-md-5 mx-0">
                <p class="mb-0"><strong class="antitulo">GESTOR DE CAMPAÑA</strong> </p>
              <h1 style="color: #ED3F5C" class="my-1"><strong>Segmentador & Gestor de Campañas</strong> </h1>
              <h2 class="mt-0 text-dark">Ejecuta de forma completa tus estrategias de marketing</h2>
              <p class="mb-0" >Un modulo exclusivo dentro de la plataforma para realizar comunicaciones de marketing directo a grupos objetivos y clusters de clientes a través de medios online como:</p>

              <ul class="main-description-6 d-flex justify-content-between row" style="padding-left: 8px!important;">
                <li class="col text-dark camp-1 d-flex align-items-center">eMail</li>
                <li class="col text-dark camp-2 d-flex align-items-center">SMS</li>
                <li class="col text-dark camp-3 d-flex align-items-center">Whatsapp</li>
                <li class="col text-dark camp-4 d-flex align-items-center">RRSS</li>
                <li class="col-3 text-dark camp-5 d-flex align-items-center">Push Notifications</li>
              </ul>

              <div class="row">
                <div class="col">
                  
                  <button type="button" class="btn btn-danger px-5 py-3 mt-3" style="border-radius: 30px;" (click)="scrollToLabel('contactanos')"  ><strong>Contáctanos ahora</strong> </button>
                </div>
                
              </div>
    

            </div>
          </div>

          

            
             
         
          
        </div>
      </div>

      <div id="industrias"></div>
      <ion-row class="mt-5 pt-5 ">
        <ion-col [size]="12" class="text-center">
          <h1 style="color: #ED3F5C" class="mt-0 mb-0"><strong>Industrias</strong> </h1>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
              <p class="mb-0 text-dark" style="font-size: 18px;">Contamos con soluciones especiales adaptadas a industrias específicas, enfocadas a brindar verdadero valor a su negocio.</p>

            </div>
          </div>
        </ion-col>
      </ion-row>


      <div class="container-fluid my-4 industrias">
        <div class="row d-flex justify-content-around pb-5">
          <div class="col-xl-4 col-lg-4 col-md-12">

            <div class="row d-flex justify-content-end mb-2">
              <div class="col-xl-9 col-lg-9 d-flex align-items-center">
                <div>
                  <p class="mb-0 px-2"><strong>Banca y servicios financieros </strong> </p>
                  
                </div>
                <img src="assets/images/Grupo 982.png" alt="" width="150px" srcset="">
              </div>
            </div>

            <div class="row d-flex justify-content-center mb-2">
              <div class="col-xl-8 col-lg-9 d-flex align-items-center">
                <div>
                  <p class="mb-0 px-2"><strong>Alimentos y bebidas  </strong> </p>
                  
                </div>
                <img src="assets/images/Grupo 983.png " alt="" width="150px" srcset="">
              </div>
            </div>

            <div class="row d-flex justify-content-center mb-2">
              <div class="col-xl-7 col-lg-9 d-flex align-items-center">
                <div>
                  <p class="mb-0 px-2"><strong>Servicios básicos   </strong> </p>
                  
                </div>
                <img src="assets/images/Grupo 1220.png" alt="" width="150px" srcset="">
              </div>
            </div>

            <div class="row d-flex justify-content-end mb-2">
              <div class="col-xl-9 col-lg-9 d-flex align-items-center">
                <div>
                  <p class="mb-0 px-2"><strong>Telecomunicaciones    </strong> </p>
                  
                </div>
                <img src="assets/images/Grupo 984.png" alt="" width="150px" srcset="">
              </div>
            </div>

          </div>

          <div class="col-xl-3 col-lg-3 col-md-12 text-center d-flex align-items-center">
            <img src="assets/images/user-phone.png" class="" alt="" srcset="">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12">

            <div class="row d-flex justify-content-start mb-2">
              <div class="col-xl-9 col-lg-9 d-flex align-items-center">
                <img src="assets/images/Grupo 1219.png" alt="" width="150px" srcset="">
                <div>
                  <p class="mb-0 px-2"><strong>Seguros </strong> </p>
                  
                </div>
              </div>
            </div>

            <div class="row d-flex justify-content-center mb-2">
              <div class="col-xl-9 col-lg-9 d-flex align-items-center">
                <img src="assets/images/Grupo 981.png " alt="" width="150px" srcset="">
                <div>
                  <p class="mb-0 px-2"><strong>Automotor   </strong> </p>
                 
                </div>
              </div>
            </div>

            <div class="row d-flex justify-content-center mb-2">
              <div class="col-xl-9 col-lg-9 d-flex align-items-center">
                <img src="assets/images/Grupo 985.png" alt="" width="150px" srcset="">
                <div>
                  <p class="mb-0 px-2"><strong>Transporte  </strong> </p>
                 
                </div>
              </div>
            </div>

            <div class="row d-flex justify-content-start mb-2">
              <div class="col-xl-9 col-lg-9 d-flex align-items-center">
                <img src="assets/images/Grupo 1354.png" alt="" width="150px" srcset="">
                <div>
                  <p class="mb-0 px-2"><strong>Moda y lujo </strong> </p>
                 
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div id="nosotros"></div>
      <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-between ">
          <div class="col-xl-5 col-lg-5 text-center  ">
            <img src="assets/images/Grupo 1357.png" alt="" srcset="">
          </div>
          <div class="col-xl-6 col-lg-6 d-flex align-items-center ">

            <div>

              <h1 style="color: #ED3F5C" class="mt-0 mb-0"><strong>Sobre nosotros</strong> </h1>
              <p class=" my-2 text-dark sfpro-medium" style="font-size: 28px;" >Más de 16 años creando vínculos inteligentes</p>
              <p>Tenemos el know-how y reconocimiento de la industria. Hemos trabajado durante 16 años con las mejores marcas del mercado (IPSA, Dow Jones, IGPA), ganando importantes premios por efectividad en marketing y uso de tecnologia. </p>
              <p>Desarrollamos productos y soluciones tecnológicas innovadoras que le otorguen valor agregado y diferenciación en el mercado, utilizando las TIC y NTIC como elementos centrales, junto con ampliar las oportunidades de desarrollo profesional y asegurar la sustentabilidad financiera del negocio.</p>

              <!-- <div style="box-shadow: 0px 1px 20px #E9485959; border-radius: 15px;" class="d-flex align-items-center py-2 mb-4">
                <img src="assets/images/tag.png" alt="">
                <p class="mb-0 mx-4">Especializados en la creación y gestión de estrategias comunicacionales orientadas a la implementación de marketing directo </p>
              </div>

              <div style="box-shadow: 0px 1px 20px #E9485959; border-radius: 15px;" class="d-flex align-items-center py-2 mb-4">
                <img src="assets/images/tag.png" alt="">
                <p class="mb-0 mx-4">Integramos Inteligencia Artificial e indicadores especialos para obtener productos con un mayor nivel de usabilidad y adaptibilidad </p>
              </div> -->

            </div>

          </div>
        </div>
      </div>

      <div id="contactanos"></div>
      <div style="background:#FDF6F0">
        
        <div class="container py-5" >
          <div class="row py-5 d-flex justify-content-around">
  
            <div class="col-xl-4 col-lg-5 col-md-12 " style="background-color: #ffffff; box-shadow: 0px 1px 48px #00000038; border-radius: 15px; padding: 40px;">
              <h2 style="color: #ED3F5C" class="mt-0 "><strong>Contáctanos hoy</strong> </h2>
  
              <form [formGroup]="formGroup">
                <div class="form-group">
  
                  <label>Nombre</label>
                  <input type="text" class="form-control" formControlName="first_name" placeholder="Nombre">
                  <div class="form-text" *ngIf="formGroup.controls['first_name'].hasError('required') &&formGroup.touched ">**Nombre es requerido</div>

                  <label>Apellido</label>
                  <input type="text" class="form-control" formControlName="last_name" placeholder="Apellido">
                  <div class="form-text" *ngIf="formGroup.controls['last_name'].hasError('required') &&formGroup.touched ">**Apellido es requerido</div>

                  <label>Correo electrónico</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="Correo electrónico">
                  <div class="form-text" *ngIf="formGroup.controls['email'].hasError('required') &&formGroup.touched ">**Correo es requerido.</div>
                  <div class="form-text" *ngIf="formGroup.controls['email'].hasError('email')">**Ingresa un Correo Valido</div>

                  <label>Teléfono</label>
                  <div class="mb-2 row ">
                    <div class="col-3 pe-0">
                      <input type="text" class="form-control" formControlName="prefix" placeholder="+56" (keyup)="setPrefix($event)">
                    </div>
                    <div class="col-1 px-0 d-flex align-items-center justify-content-center"><span><strong>- </strong> </span></div>

                    <div class="col-8 ps-0">
                      <input type="text" class="form-control" formControlName="phone" placeholder="967814568">
                    </div>
                  </div>
                  <div class="form-text" *ngIf="(formGroup.controls['phone'].hasError('required') || formGroup.controls['prefix'].hasError('required'))  && formGroup.touched   ">**Telefono es requerido</div>

                  <label >Mensaje</label>
                  <textarea class="form-control" rows="4" formControlName="message"></textarea>
                  <!-- <div class="form-text" *ngIf="formGroup.controls['message'].hasError('required') && formGroup.touched ">**Telefono es requerido</div> -->
                  <div class="form-text">Mensaje es opcional</div>

                </div>
  
                <button type="button" class="btn btn-danger px-5 py-3 mt-3 w-100" style="border-radius: 30px;" (click)="sendMessage()"[disabled]="formGroup.invalid"><strong>Contáctar</strong> </button>
  
              </form>
            </div>
  
            <div class="col-xl-6 col-lg-6 col-md-12 d-flex align-items-center">

              <div class="text-dark">
                <h1>Información de contacto</h1>
                <h3 class="mb-0">Escríbenos</h3>
                <p>contacto@clubify.cl</p>

                <h3 class="mb-0">Llámanos</h3>
                <p>(+56) 2 3238 3960</p>

                <h3 class="mb-0">Encuéntranos</h3>
                <p>Los Conquistadores 2440, Providencia. Región Metropolitana. Chile.</p>

                <h1>Nuestras Redes Sociales</h1>
                <div class="d-flex align-items-center">
                  <a href="https://www.instagram.com/clubify.cl/" target="_blank"><img src="assets/images/Grupo 1163.svg" width="32px" class="m-2" alt="" srcset=""></a>
                  <a href="https://www.linkedin.com/company/clubifychile/" target="_blank" >  <img src="assets/images/linkedin.png" width="32px" class="m-2" alt=""></a>
                  <!-- <img src="assets/images/Icon ionic-logo-facebook.svg" width="32px" class="m-2" alt="" srcset="">
                  <img src="assets/images/Icon ionic-logo-twitter.svg" width="32px" class="m-2" alt="" srcset="">
                  <img src="assets/images/Grupo 1162.svg" width="32px" class="m-2" alt="" srcset=""> -->
                </div>
              </div>
  
            </div>
  
          </div>
        </div>

      </div>

     


    
    <button (click)="scrollToTop()" id="btn-scroll" title="Go to top"><ion-icon size="large" name="chevron-up-outline"></ion-icon></button>
      
    </ion-grid>

    <div class="bg-red">
      <div class="container">
        <div class="row py-4">
          <div class="col-12 d-flex justify-content-center mt-3">
            <div class="text-center">
              <img src="assets/images/Grupo 964.svg" width="200px" class="mb-2" alt="" srcset="">
              <p class="text-white">Fidelización inteligente</p>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center my-3">
            <div>
              <a href="https://www.instagram.com/clubify.cl/" target="_blank"><img src="assets/images/Grupo 1164.svg" alt="" style="width: 32px;" class="mx-4" srcset=""></a> 
              <a href="https://www.linkedin.com/company/clubifychile/" target="_blank" ><img src="assets/images/linkedin-2.png" alt="" style="width: 32px;" class="mx-4" srcset=""></a>
              <!-- <img src="assets/images/Icon ionic-logo-facebook-1.svg" alt="" style="width: 32px;" class="mx-4" srcset="">
              <img src="assets/images/Icon ionic-logo-twitter-1.svg" alt="" style="width: 32px;" class="mx-4" srcset="">
              <img src="assets/images/Grupo 1165.svg" alt="" style="width: 32px;" class="mx-4" srcset=""> -->

            </div>
          </div>
        </div>
      </div>

    </div>
    
</ion-content>
